<h1> Movie Reviews: Sentiment analysis </h1>
<h2> Author: Rashmith Reddy Boppidi </h2>
    <p1>
    <ol> 
    <li> Importing the required packages </li>
    <li> Reading the data </li> 
    <li> Text Preprocessing </li>
    <li> Feature exctraction ( Preparing data to fit the model ) </li>
    <li> Text Preprocessing </li>
    <li> Training and model evaluation </li>
    </ol>
    </p1>

<h2> Importing the required packages </h2>

In [57]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import pandas as pd

<h2> Reading the data <h2/>

In [5]:
c = pd.read_csv("train.csv")
c.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

<h2> Text Preprocessing <h2/>

In [19]:
stop_words = set(stopwords.words('english'))

In [24]:
lem = WordNetLemmatizer()

In [35]:
k = []
for i in c["text"]:
    x = word_tokenize(i) #we are tokenizing the text ( we can either tokenize as word or sentense )
    x = [x.lower() for x in x if x.isalnum()]  #avoid punctuations 
    x = [lem.lemmatize(x) for x in x if x not in stop_words] #remove stop words and lematize it ( you can either your stemmer)
    k.append(x)

In [36]:
c["tokenized"] = k

In [37]:
c

,text,label,tokenized
0,I grew up (b. 1965) watching and loving the Th...,0,"[grew, b, 1965, watching, loving, thunderbird,..."
1,"When I put this movie in my DVD player, and sa...",0,"[put, movie, dvd, player, sat, coke, chip, exp..."
2,Why do people who do not know what a particula...,0,"[people, know, particular, time, past, like, f..."
3,Even though I have great interest in Biblical ...,0,"[even, though, great, interest, biblical, movi..."
4,Im a die hard Dads Army fan and nothing will e...,1,"[im, die, hard, dad, army, fan, nothing, ever,..."
...,...,...,...
39995,"""Western Union"" is something of a forgotten cl...",1,"[western, union, something, forgotten, classic..."
39996,This movie is an incredible piece of work. It ...,1,"[movie, incredible, piece, work, explores, eve..."
39997,My wife and I watched this movie because we pl...,0,"[wife, watched, movie, plan, visit, sicily, st..."
39998,"When I first watched Flatliners, I was amazed....",1,"[first, watched, flatliners, amazed, necessary..."
39999,"Why would this film be so good, but only gross...",1,"[would, film, good, gross, estimated, award, n..."

In [43]:
l = []
for i in c["tokenized"]:
    x = ' '.join(i) #join the preprocessed text
    l.append(x)

In [44]:
c["joined_tokens"] = l

In [45]:
c

,text,label,tokenized,joined_tokens
0,I grew up (b. 1965) watching and loving the Th...,0,"[grew, b, 1965, watching, loving, thunderbird,...",grew b 1965 watching loving thunderbird mate s...
1,"When I put this movie in my DVD player, and sa...",0,"[put, movie, dvd, player, sat, coke, chip, exp...",put movie dvd player sat coke chip expectation...
2,Why do people who do not know what a particula...,0,"[people, know, particular, time, past, like, f...",people know particular time past like feel nee...
3,Even though I have great interest in Biblical ...,0,"[even, though, great, interest, biblical, movi...",even though great interest biblical movie bore...
4,Im a die hard Dads Army fan and nothing will e...,1,"[im, die, hard, dad, army, fan, nothing, ever,...",im die hard dad army fan nothing ever change g...
...,...,...,...,...
39995,"""Western Union"" is something of a forgotten cl...",1,"[western, union, something, forgotten, classic...",western union something forgotten classic west...
39996,This movie is an incredible piece of work. It ...,1,"[movie, incredible, piece, work, explores, eve...",movie incredible piece work explores every noo...
39997,My wife and I watched this movie because we pl...,0,"[wife, watched, movie, plan, visit, sicily, st...",wife watched movie plan visit sicily stromboli...
39998,"When I first watched Flatliners, I was amazed....",1,"[first, watched, flatliners, amazed, necessary...",first watched flatliners amazed necessary feat...
39999,"Why would this film be so good, but only gross...",1,"[would, film, good, gross, estimated, award, n...",would film good gross estimated award nominati...

<h2> Feature exctraction ( Preparing data to fit the model ) <h2>

<p1> <b> They are two types of feature extractions mainly used : </b> </p1>

<ol> 
    <li>BOW (Bag of words) </li>
    <li>Tf-Idf (Term Frequency - Inverse Document Frequency) </li> </ol>

In [46]:
vec = TfidfVectorizer() #Here we are going to use Tf-Idf
v = vec.fit_transform(c["joined_tokens"])

In [55]:
print(v)

  (0, 38446)	0.11641037786475152
  (0, 24074)	0.10317877692768666
  (0, 34445)	0.07288366225616721
  (0, 69273)	0.18356739945732245
  (0, 62339)	0.3249527150840115
  (0, 33904)	0.14566550509892945
  (0, 44528)	0.15647151354363142
  (0, 59643)	0.12871532258751248
  (0, 1466)	0.1059525335073119
  (0, 45092)	0.054704088106177814
  (0, 59371)	0.08421591990542834
  (0, 12417)	0.09395122352541688
  (0, 61467)	0.0953639336457156
  (0, 76354)	0.09540864979551203
  (0, 26379)	0.02611168399253787
  (0, 78154)	0.06657840292187796
  (0, 34056)	0.11265361771757607
  (0, 14910)	0.06262886638787547
  (0, 76981)	0.06464939551094384
  (0, 12468)	0.10248299111237723
  (0, 20041)	0.0495768759434987
  (0, 31959)	0.06476505501607285
  (0, 27692)	0.15647151354363142
  (0, 38271)	0.18356739945732245
  (0, 16610)	0.08297320213605737
  :	:
  (39999, 40633)	0.1107129267486208
  (39999, 46285)	0.10726340555162918
  (39999, 4628)	0.07824141815606554
  (39999, 74137)	0.0860005590829593
  (39999, 7657)	0.06622141267296272
  (39999, 11184)	0.09503518484653621
  (39999, 38211)	0.09464381028566339
  (39999, 62632)	0.06496946206333763
  (39999, 71961)	0.0620414491526374
  (39999, 5628)	0.12380424073292397
  (39999, 34132)	0.10432402924713027
  (39999, 18080)	0.09380975502516865
  (39999, 30724)	0.11912238759025424
  (39999, 24434)	0.052206041100651676
  (39999, 78264)	0.05974946986637667
  (39999, 42365)	0.06649075598459075
  (39999, 43898)	0.052327352613981575
  (39999, 39929)	0.12680228194283671
  (39999, 62798)	0.0586140759049011
  (39999, 58381)	0.09273624309018119
  (39999, 67075)	0.11261396429140778
  (39999, 30222)	0.049515528789426194
  (39999, 24867)	0.12688431220875607
  (39999, 26379)	0.03865638095173341
  (39999, 79779)	0.051682821468687475

<h2> Training and model evaluation </h2>

<p1> We have used logistic regression - logistic function or sigmoid function which maintains output between 0 and 1 bets for the binary classification. </p1>
<p2> For Model Evaluation we have used metrics: precision, recall, f1-score. We can simply use <b>accuracy score </b> too </p2>

In [62]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(v, c['label'], test_size = 0.2,random_state = 0)

lr_model = LogisticRegression(max_iter = 300)
lr_model.fit(X_train, y_train)


test_pred = lr_model.predict(X_test)
print(classification_report(y_test,test_pred))

              precision    recall  f1-score   support

           0       0.89      0.88      0.88      3941
           1       0.88      0.90      0.89      4059

    accuracy                           0.89      8000
   macro avg       0.89      0.89      0.89      8000
weighted avg       0.89      0.89      0.89      8000